/*this is a comment*/
body {
	font-family: "Times New Roman";
	text-align:left;
	background-color: #fff9f3;
	color: #461703;
	font-size: 110%;
	margin: 5%;
}	
header {
	font-family: "Courier New";
	text-align: center;
	font-style: oblique;
	font-variant: normal;
	line-height: 50%;
	background: ;
	padding: 5px;
	clear: both;
}
span {
	font-family:serif;
	background-color:#414b3b;
	color: #ffffff;
	height: 50%;
	display:inline-block;
	line-height:150%;
	margin:2px;
}
footer {
	font-family: "Courier New";
	text-align: center;
	font-variant: small-caps;
	line-height: 300%;
	clear:both;
}
button {
	display:inline-block;
	line-height: 200%;
}
img[alt="hitesh thakare"] {
	border: 5px inset;
	width: 300px;
	border-radius:25%;
}
#figlogo {
	text-align: center;
}
.social-media {
	border:1px solid;
	padding: 2px;
	margin:
	display:inline-block;
	text-decoration:none;
}
menu a{
	display:block;
	width:100%;
	text-decoration:none;
	font-size:50%;
	margin:1px;
	background:#CAD5E2;
	padding:5px 1px 5px 1px;
	text-align:center;
	float:right;
	clear:both;
}
a:link {
	background:
	color:#6A1B4D;
}
a:visited {
	background:;
	color:#03203C;
	font-size:80%;
}
a:hover {
	background:;
	font-size:125%;
	line-height:125%;
}
a:active {
	background:#C8E2DF;
}
* {
	/*background:#E21717;*/
	padding:
}
table, th,td {
	padding:20px;
	margin:;
	text-align: center
}