/*this is a comment*/
body {
	font-family: "Times New Roman";
	text-align:left;
	background-color: #fff9f3;
	color: #461703;
	font-size: 110%;
}	
header {
	font-family: "Courier New";
	text-align: center;
	font-style: oblique;
	font-variant: normal;
	line-height: 50%;
	background: ;
}
span {
	font-family:serif;
	background-color:#414b3b;
	color: #ffffff;
	height: 50%;
	display:inline-block;
	line-height:150%;
}
footer {
	font-family: "Courier New";
	text-align: center;
	font-variant: small-caps;
	line-height: 300%;
}
button {
	display:inline-block;
	line-height: 200%;
}